<!DOCTYPE html>
<html>
  <head>
    <title>Gyumri State Technical College</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="gstc-body">
    <header class="site-header">
      <div class="site-header-inner">
        <div class="brand">
          <% if @site&.logo&.attached? %>
            <%= image_tag @site.logo, class: "site-logo" %>
          <% end %>
          <span class="brand-title">
            <%= @site&.site_name %>
          </span>
        </div>

        <nav class="main-nav">
          <%= link_to "Home", root_path %>
          <%= link_to "Departments", departments_path %>
          <%= link_to "Programs", programs_path %>
          <%= link_to "Admissions", admissions_path %>
          <%= link_to "About", about_path %>
        </nav>
      </div>
      <div class="lang-switch">
        <%= link_to "HY", url_for(locale: :hy) %> |
        <%= link_to "EN", url_for(locale: :en) %>
      </div>

    </header>

    <main class="site-main">
      <%= yield %>
    </main>
    <% if notice %>
      <div class="flash notice"><%= notice %></div>
    <% end %>


    <footer class="site-footer">
      © <%= Time.current.year %> Gyumri State Technical College. All rights reserved.
    </footer>
  </body>
</html>
